<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
    
        <menuitem
            id="menu_od_period_closing_wizard"
            name="Period Closing"
            parent="account.account_reports_management_menu"
            sequence="2"
            action="action_od_period_closing_wizard" />
    </data>
</odoo>